
@import url(style-header.css);
@import url(style-contator.css);
@import url(style-responsive.css);

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #1e272e;
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: Arial, Helvetica, sans-serif;
    
}
.banner{
    display: flex;
    justify-content: center;
}

  
@media (max-width:858px){
    .banimg{
        width: 100%;
    }
}

/*----------------------------*/


.form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ef5777;
    width: 100%;
    height: 70%;
    margin-top: 70px;
    margin-bottom: 50px;  
    color: white;
    font: normal Arial;
    font-size: 1.5rem;
    border-radius: 5px;
}
.text-ti{
    padding-top: 15px;
    padding-bottom: 10px;
}
form input{
    margin-bottom: 15px;
    width: 300px;
    height: 25px; 
    border-radius: 10px;
}
form button{
    margin-left: 15px;
    width: 55px;
    height: 30px;
    border-radius: 10px 5px 5px 6px;
    background-color: rgba(66, 66, 66, 0.685);
    color: #fffbfb;
    font: bold;
}

